<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .disabled {
        color: LightGray;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>

  <body>
    <div id="app">
      {{ message }}
      <p>try it out: <input type="text" v-model="message"> </p>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <button v-on:click="addAwesomesauce">Woooooaaaah</button>
      <p v-if="showHiddenInfo" v-bind:class="{disabled: disableText}">Check this out it can disappear and be greyed out</p>
      <button v-on:click="toggleShow">toggle</button>
      <button v-on:click="disableTextToggle">grey out</button>
      <hr>
      <hr>
      <p v-for="randomWord in randomWords">{{ randomWord }}</p>
    </div>
  </body>
  
</html>